// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// View ports
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

html, body {
    height: 100%;
    background-color: $dark;
}

.navbar {
    --bs-bg-opacity: .8;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;

    @media screen and (max-width: $md) {
        --bs-bg-opacity: 1;
    }
}

.card {
    background-color: $gray-700;
    color: $white;
}
